# Test Run

{{Questbox
|name=Test Run
|id=86535
|type=Important Quest
|category=Undermine
|level={{level|Undermine}}
|levelreq={{level|Undermine}}
|start=[[Rustol]] {{Co|27.6|54.0|Undermine}} 
|end=[[Kenzi]] {{Co|52.4|50.4|Dornogal}}
|money={{cost|2|34}}
|experience=1,200
}}

'''Test Run''' unlocks a teleporter between [[Gutterside Rocket Station]] in [[Undermine]] with the [[Forgegrounds]] in [[Dornogal]] immediately after making it to Undermine. This is a warband-wide unlock.

==Objectives==
Use the teleporter to travel from [[Undermine]] to [[Dornogal]].
*Use the teleporter to travel to Dornogal

==Description==
Hey, you lookin' to make a few coins?

We made a deal with the earthen to build a teleporter up in Dornogal. We get all the tourism traffic we want, and they get their pick of the finest cracked chipped, or otherwise unsellable gemstones Undermine's jewelers can offer.

I just got this end of things workin', but I haven't tested it out yet. You wanna try? If you come out the other side, my coworker Kenzi will compensate ya.

We'll say this constitutes a verbal waiver, yeah?

==Rewards==
You will receive:
* {{cost|2|34}}
* 1,200 [[XP]]

==Completion==
Woah! I thought Rustol was gonna send through a gerbil or a can of peaches or somethin' to test out the new teleporter, not an actual person.

But you're only sizzlin' a little bit! Fantastic.

Tell ya what. For doin' us a solid and havin' such little regard for your own personal safety, we'll let ya use the teleporters free of charge whenever ya want.

==Progression==
{{Undermine Awaits}}

==Patch changes==
*{{Patch 11.1.0|note=Added.}}

==External links==
{{Elinks-quest|86535}}

[[Category:Dornogal quests]]